[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
django-crispy-forms = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.13"
